* {
	text-align:center;
}


#bookTitle{
	font-weight: bold;
}

#bookAuthor{
	font-weight:italic;
}

.buttonWrapper {
	margin-top: 20px;
}

.showAddForm {
	display:none;
}

.updateButton {
	display:none;
}

#titleStyle {
	font-weight: bold;
}

#tagsBox{
	width:300px;
}

#suggestSearchBox {
	display:none;
}